.logo {
    width: 70px;
    margin: auto;
    display: block;
    max-width: 100%;
    min-width: 10%;
}

.imaaage {
    margin: auto;
    max-width: 100%;
    display: block;
}

.textememer {
    margin-top: auto;
    margin: 0 auto;
    font-size: 18px;
    color: rgb(22, 44, 24);
    padding: 10px;
    width: 850px;
    vertical-align: middle;
    text-align: left;
    position: relative;
    max-width: 850px;
    min-width: 200px;
}

body {
    background-color: rgb(186, 214, 186);
}

@media {
    .textememer {
        margin-top: auto;
        margin: 0 auto;
        font-size: 18px;
        color: rgb(22, 44, 24);
        padding: 10px;
        width: 850px;
        vertical-align: middle;
        text-align: left;
        position: relative;
        max-width: 850px;
        min-width: 200px;
    }
}

@media {
    .imaaage {
        margin: auto;
        max-width: 100%;
        display: block;
    }
}

@media {
    .logo {
        width: 70px;
        margin: auto;
        display: block;
        max-width: 100%;
        min-width: 10%;
    }
}