.logo {
    width: 70px;
    margin: auto;
    display: block;
    max-width: 100%;
    min-width: 10%;
}

.imaaage {
    margin: auto;
    margin-top: 10px;
    max-width: 100%;
    display: block;
}

.textememer {
    margin-top: auto;
    margin: 0 auto;
    font-size: 18px;
    color: rgb(22, 44, 24);
    padding-left:10%;
    padding-right:10%;
    vertical-align: middle;
    text-align: left;
    position: relative;
}

body {
    background-color: rgb(219, 228, 208);
}

@media {
    .textememer {
        margin-top: auto;
        margin: 0 auto;
        font-size: 18px;
        color: rgb(22, 44, 24);;
        width: 80%;
        vertical-align: middle;
        text-align: center;
        position: relative;
        margin-left:10%;
        margin-right:10%;
    }
}

@media {
    .imaaage {
        margin: auto;
        margin-top: 10px;
        max-width: 100%;
        display: block;
    }
}

@media {
    .logo {
        width: 70px;
        margin: auto;
        display: block;
        max-width: 100%;
        min-width: 10%;
    }
}